* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */ 
.header {
    display: flex;
    justify-content: end;
    padding: 20px 30px;
    align-items: center;
}

.header a {
    margin-right: 20px;
    font-size: 15px;
    text-decoration: inherit;
}

.header a:hover {
    text-decoration: underline;
}

.header_right {
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}

.header_right .header_apps {
    margin-right: 10px;
}

.mainBody {
    flex: 1;
    display: flex;
    margin-top: 12%;
    flex-direction: column;
}

.mainBody img{
    object-fit: contain;
    height: 100px;
}

.search_input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;    
}

.search_input input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.search_input .material-icons {
    color: gray;
}

.search_buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search_buttons button {
margin: 5px;
padding: 10px 15px;
background-color: #f8f8f8;
outline: none;
border: none;
cursor: pointer;
}

.search_text {
    justify-content: center;
    display: flex;
    margin: 30px;

}

/* Footer */ 

.footer {
    padding: 20px 60px;
}

.footer_turkiye {
    text-decoration: none;
    display: flex;
    margin: 10px;
}

.footer_leaf {
    text-decoration: none;
    justify-content: center;
    display: flex;
    margin: 10px;
}


.footer a {
    margin-right: 20px;
    font-size: 15px;
    text-decoration: inherit;
}

.footer_right {
    display: flex;
    min-width: 13vw;
    float: right;
    margin-top: 10px;
}

.footer_left {
    display: flex;
    min-width: 13vw;
    float: left;
    margin-top: 10px;
}


